.form-container-with-social {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--grad-1);
}

.social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 50%;
  flex: 0.65;
}

.social-container h4 {
  color: var(--dark);
  padding: 1rem;
  font-size: 1.75rem;
}

.contact-links {
  background-color: var(--grad-1);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 2rem;
}

.contact-links .icon {
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--logo-orange);
  margin-bottom: 1rem;
  font-weight: 200;
  background-color: var(--logo-orange);
  color: var(--grad-1);
  padding: 10px;
}

.contact-links .icon:hover {
  background-color: var(--grad-1);
  color: var(--logo-blue);
  border: 2px solid var(--logo-blue);
}

.submit-btn-container {
  text-align: center;
}

#contact-submit-btn {
  border: none;
  background-color: var(--logo-blue);
  text-align: center;
}

#contact-submit-btn:hover {
  background-color: var(--logo-orange);
  text-decoration: underline;
}

.contact {
  background-size: cover;
  background-position: center;
}

.contact__form-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 4rem;
  max-width: 80rem;
  text-align: left;
  border-radius: 5px;
  margin: 0 auto;
}

.contact-form-div,
.contact-message-div {
  color: black;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.contact-form-input {
  font-size: 1rem;
  color: black;
  padding: 0.375rem 0.75rem;
  background-color: var(--grad-1);
  color: #495057;
  border: none;
  font-weight: 600;
  border-bottom: 1px solid black;
}

.contact-form-input:focus,
.contact-form-input:focus-visible {
  outline: none;
}

.contact-message-div textarea {
  width: 100%;
  box-sizing: border-box;
  height: 200px;
}

.contactform label,
.contactform .expandable {
  text-align: left;
  font-weight: 700;
}

.contactform label {
  font-size: 0.95rem;
  margin-bottom: 5px;
}

.contactform .expandable,
.contactform .show {
  background-color: var(--bs-success);
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.contactform .show,
.expandable.show {
  font-size: 0.9rem;
  background-color: var(--logo-orange);
  color: white;
  padding: 5px;
}

.formcontact{
  flex:1
}

@media only screen and (max-width: 56.25em) {
  .sec-pad {
    padding: 8rem 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .contact__form-container {
    padding: 2rem 1rem;
    margin: -5rem 0 5rem;
  }
  #contact {
    padding: 4rem 0.5rem;
  }
  .form-row-1 {
    flex-wrap: wrap;
    gap: 0;
  }
  .contact-form-div {
    margin: 0.5rem auto;
    width: -webkit-fill-available;
  }
}
