/* Cart Page */
.cart-page {
  color: black;
}

.cart-page h2 {
  font-size: 2rem;
  margin: 2rem;
}

.cart-page-container {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
}
.empty-cart-container {
  padding: 1rem;
}

.cart-display-empty-products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.cart-page .cart-header {
  display: flex;
  gap: 15px;
  justify-content: center;
  font-size: 1.75rem;
  margin-bottom: 1rem;
  align-items: center;
}

.cart-page .cart-bottom {
  display: flex;
  background-color: var(--grad-1);
  padding: 1rem;
  gap: 5px;
  margin: 0.5rem;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
}

.cart-items {
  flex: 1;
}

.cart-page .cart-bottom div {
  font-weight: 300;
}

.cart-single-item {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: var(--grad-1);
  color: black;
  padding: 1rem;
  border-radius: 8px;
  margin: 0.5rem;
}

.cart-text-details-container,
.cart-bottom h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

.cart-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.product-name {
  text-decoration: underline;
}

.single-item-quantity-container {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-start;
  margin: 10px;
}

.quantity-icon {
  font-size: 1.75rem;
}

.quantity-icon.minus-icon {
  color: var(--danger);
}

.quantity-icon.add-icon {
  color: var(--success);
}

.cart-single-item button,
#proceed-to-checkout-btn {
  background-color: var(--primary);
  margin: 0.25rem 0;
  border: none;
  border-radius: 10px;
  color: white;
}

.proceed-to-checkout-btn a {
  color: white;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6rem 1.2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.cart-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  padding-right: 10px;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 1rem;
}

.input-wrap input{
  background-color: var(--grad-1);
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.15rem;
  color: black;
}

.input-wrap input:focus-visible{
  outline: none;
}

@media (max-width: 37.5em) {
  .cart-page-container {
    justify-content: center;
  }
  .cart-single-item {
    flex-direction: column;
  }
  .cart-text-details-container,
  .cart-bottom h4 {
    font-size: 1rem;
  }
  .cart-page .cart-bottom {
    padding: 0.5rem;
  }
  .cart-page .cart-bottom div {
    max-width: 280px;
  }
  .cart-display-empty-products .product-card {
    margin: 0;
    padding: 0;
  }
}
