#checkout-container {
  max-width: 85%;
}

.paypal-buttons {
  text-align: center;
}

@media screen and (max-width: 37.5em) {
  #check-out-stepper {
    flex-wrap: wrap;
    gap: 10px;
  }

  .css-j5w0w9-MuiStepConnector-root {
    display: none;
  }
  #checkout-container {
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .css-126nd9x-MuiPaper-root {
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 12px;
  }
}

@media (min-width: 900px) {
  .css-126nd9x-MuiPaper-root {
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding: 24px;
  }
}
