.footer {
  background-color: #414141;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 3rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.footer-left,
.footer-right {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer #social-links {
  display: flex;
  gap: 10px;
}

.footer #social-links a svg {
  width: 50px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

/* ? could change based on the social colors */
.footer #social-links a svg:hover {
  color: var(--secondary);
}

.footer h3 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer .menu li a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  margin: 10px;
}

.footer .menu li a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 56.25em) {
  .footer {
    font-size: 14px;
    padding: 1rem;
  }
  .footer-left {
    margin: 2rem auto;
  }
  .footer-left #social-links,
  .footer .menu {
    display: flex;
    grid-gap: 10px;
    flex-wrap: nowrap;
  }
}

@media (max-width: 37.5em) {
  .footer {
    flex-direction: column-reverse;
    text-align: center;
    gap: 10px;
  }
  .footer #social-links a,
  .menu li a {
    border-bottom: 1px solid var(--secondary);
  }
  .footer-left #social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
