:root {
  --grad-1: aliceblue;
  --grad-2: #64ecf5;
  --grad-3: #7dcbff;
  --grad-4: #92aed4;
  --orange-background: #f59b1b;
  --logo-blue: #0b3b9c;
  --logo-orange: #f5791d;

  --primary: #6dccb0;
  --secondary: #7a7b78;
  --dark: #323234;
  --light: #fff;
  --warning: #ffcc00;
  --danger: #e17676;
  --info: #2ea5dc;
  --font: "Poppins", sans-serif;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: aliceblue;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
  color: inherit;
}

#root {
  background-color: white;
}

body {
  transition: all 0.5s ease-in-out;
  background-color: var(--grad-1);
}

.page-header, .page-subheader {
  color: var(--logo-blue);
  font-size: 3rem;
  padding: 2rem;
}

.page-header{
  text-decoration: underline;
}

.page-subheader{
  color: var(--dark);
  font-size: 2rem;
}
