:root {
  /* branding colors */
  --grad-1: aliceblue;
  --grad-2: #9ee6ec;
  --grad-3: #7dcbff;
  --grad-4: #92aed4;
  --primary: #0066ff;
  --secondary: #880e0e;

  /* support colors */
  --green: #6dccb0;
  --background: #7a7b78;
  --dark: #323234;
  --light: #fff;
  --warning: #ffcc00;
  --danger: #d10202;
  --info: #2ea5dc;
  --success: #1cca56;

  /* font brands  */
  --font: "Poppins", sans-serif;
  font-family: "Cormorant Garamond", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--grad-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button,
.btn-primary,
.btn,
#card-cart-btn,
.product-banner .product-info-buttons button,
.redirect-button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
  color: inherit;
}

#root {
  background-color: white;
}

body {
  transition: all 0.5s ease-in-out;
  background-color: var(--grad-1);
}

.page-header,
.page-subheader {
  color: var(--primary);
  font-size: 3rem;
  padding: 2rem;
}

.page-header {
  text-decoration: underline;
}

.page-subheader {
  color: var(--dark);
  font-size: 2rem;
}

@media (max-width: 37.5em) {
  #root {
    padding-top: 4rem;
  }
  .page-header,
  .page-subheader {
    text-align: center;
  }

  .page-header {
    font-size: 2rem;
    padding: 2rem 0 1rem;
  }
  .page-subheader {
    font-size: 1.5rem;
    padding: 1rem;
  }
}

/* for the product cards */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* for the product banner */
@keyframes slideIn {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* Apply animation
.element {
  animation: fadeIn 2s ease-in-out;
} */
