.product-banner {
  margin: 3rem;
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card {
  display: flex;
  flex-direction: column;
}

.product-banner .card {
  display: flex;
  align-items: center;
}

.product-banner .image-container,
.product-banner .product-info-container {
  width: 50%;
  padding: 1rem;
}

.product-banner .product-info-buttons button {
  text-transform: uppercase;
}

.product-banner .product-info-header {
  color: black;
}

.product-banner .product-info-header h3 {
  font-size: 2rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.product-banner .product-info-price {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem 0;
}

.product-banner .product-info-price h4 {
  font-size: 1.75rem;
  color: var(--logo-orange);
}

.discount-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-banner .discount-container h5 {
  font-size: 1.25rem;
  text-decoration: line-through;
}

.product-banner .product-info-details {
  color: black;
  font-size: 1.25rem;
}

.product-banner .all-product-info-buttons {
  display: flex;
  flex-direction: column;
}

.product-banner .product-info-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.product-banner .product-info-buttons button {
  margin: 1rem 0;
}

#learn-more-btn,
#redirect-btn button,
#card-cart-btn:hover {
  background-color: var(--logo-blue);
  color: white;
}

#learn-more-btn:hover,
#redirect-btn button:hover,
#card-cart-btn {
  background-color: var(--logo-orange);
  color: white;
  border: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  background-color: white;
  padding-bottom: 1%;
}

.product-card .card {
  padding: 1rem;
  color: black;
  background-color: var(--grad-1);
}

.product-card .product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-card .product-info-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card .product-name {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
  color: black;
}

.product-card .product-description {
  font-size: 0.875rem;
  margin: 10px 0;
  text-align: center;
}

.product-card .product-price {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 10px 0;
  color: orange;
}

.product-card .add-to-cart-button:hover {
  background-color: var(--logo-orange);
}

.product-card .product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card .original-price {
  text-decoration: line-through;
  color: red;
  font-size: 0.875rem;
}

.product-card .discount-price {
  color: var(--logo-orange);
  font-size: 1.125rem;
  font-weight: bold;
}

.product-card .all-product-info-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

@media only screen and (max-width: 37.5em) {
 
}

@media only screen and (max-width: 56.25em) {
  .product-banner .card {
    display: flex;
    flex-direction: column;
    margin: unset;
  }
  .product-banner .image-container,
  .product-banner .product-info-container {
    width: 100%;
  }
}
